.App {
  text-align: center;
  align-items: center;
}

table {
  border-collapse: collapse; /* Merge frames around cells */
  width: 60%;
  margin: 0 auto; /* Center the table */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for the table */
}

th,
td {
  padding: 12px 15px; 
  text-align: left;
}

thead {
  background-color: #f5f5f5; /* Background color for table header */
}

th {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Background color for even rows */
}

tr:hover {
  background-color: #e0e0e0; /* Background color for hovered row */
}

.th-id {
  width: 30%;
}

.th-title {
  width: 70%;
}